### Example user template template
### Example user template

# IntelliJ project files
.idea
/.mvn/
*.iml
/out/
/target/
gen
*.properties
/HELP.md
/src/test/java/edu/bit/fishpond/service/
/src/main/java/edu/bit/fishpond/DAO/ServiceDao.java
/fishpond.sql
